ingress:
  host: chart-example.local
  ingressClassName: nginx

gitRepository: laszlocph/demo-app
gitSha: xyz


volumes:
  - name: testing
    path: /deleteme
    hostPath:
      path: /deleteme
  - name: empty
    path: /deleteme2
    emptyDir: true
  - name: volume-name
    existingSecret: my-secret
    path: /randomPath/app.creds
    subPath: app.creds

vars:
  var1: value1
  var2: value2

probe:
  enabled: true
  settings:
    periodSeconds: 30

podSpec:
  hostNetwork: true

cnpg:
  enabled: true

  cluster:
    instances: 3
    storage:
      size: 5Gi
      storageClass: standard
    walStorage:
      size: 2Gi
      storageClass: standard

  postgresAuth:
    username: cnpg
    password: ch@ngem3#

  backup:
    retentionPolicy: "7d"
    barmanObjectStore:
      endpointURL: https://seaweed-dso.mea-poc.opsta.in.th/buckets/
      s3Credentials:
        accessKeyValue: admin
        secretKeyValue: ch@ngem3#

  bootstrap:
    initdb: 
      database: cnpg
      owner: cnpg

