{{- if .Values.cnpg.enabled }}
{{- $cnpg := .Values.cnpg -}}
{{- $backup := $cnpg.backup -}}
{{- $bos := $backup.barmanObjectStore -}}
{{- $s3 := $bos.s3Credentials -}}

apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ $cnpg.cluster.name | quote }}
spec:
  imageName: {{ $cnpg.cluster.imageName | quote }}
  instances: {{ $cnpg.cluster.instances }}

   {{- if $cnpg.superuser.enabled }}
  enableSuperuserAccess: true
  superuserSecret:
    name: {{ required "cnpg.superuser.secretName is required when cnpg.superuser.enabled=true" $cnpg.superuser.secretName | quote }}
  {{- end }}

  {{- with $cnpg.cluster.resources }}
  resources:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  storage:
    size: {{ $cnpg.cluster.storage.size | quote }}
    storageClass: {{ $cnpg.cluster.storage.storageClass | quote }}

  walStorage:
    size: {{ $cnpg.cluster.walStorage.size | quote }}
    storageClass: {{ $cnpg.cluster.walStorage.storageClass | quote }}

  {{- if $backup.enabled }}
  backup:
    retentionPolicy: {{ $backup.retentionPolicy | quote }}
    barmanObjectStore:
      serverName: {{ $bos.serverName | quote }}
      destinationPath: {{ $bos.destinationPath | quote }}
      endpointURL: {{ $bos.endpointURL | quote }}
      s3Credentials:
        accessKeyId:
          name: {{ required "cnpg.backup.barmanObjectStore.s3Credentials.secretName is required" $s3.secretName | quote }}
          key: {{ default "S3_ACCESS_KEY" $s3.accessKeyKey | quote }}
        secretAccessKey:
          name: {{ required "cnpg.backup.barmanObjectStore.s3Credentials.secretName is required" $s3.secretName | quote }}
          key: {{ default "S3_SECRET_KEY" $s3.secretKeyKey | quote }}
      data:
        compression: {{ $bos.compression.data | quote }}
      wal:
        compression: {{ $bos.compression.wal | quote }}
  {{- end }}

  {{- if $cnpg.bootstrap.enabled }}
  bootstrap:
    initdb:
      database: {{ $cnpg.bootstrap.database | quote }}
      owner: {{ $cnpg.bootstrap.owner | quote }}
      secret:
        name: {{ $cnpg.bootstrap.secretName | quote }}

      {{- with $cnpg.bootstrap.postInitSQL }}
      postInitSQL:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      {{- $refs := .Values.cnpg.bootstrap.postInitApplicationSQLRefs -}}
      {{- if and $refs (or $refs.secretRefs $refs.configMapRefs) }}
      postInitApplicationSQLRefs:
        {{- if $refs.secretRefs }}
        secretRefs:
          {{- toYaml $refs.secretRefs | nindent 10 }}
        {{- end }}
        {{- if $refs.configMapRefs }}
        configMapRefs:
          {{- toYaml $refs.configMapRefs | nindent 10 }}
        {{- end }}
      {{- end }}
  {{- end }}
{{- end }}

      