{{- if and .Values.cnpg.enabled .Values.cnpg.scheduledBackup.enabled }}
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: {{ .Values.cnpg.cluster.name }}-scheduled-backup
spec:
  schedule: {{ .Values.cnpg.scheduledBackup.schedule | quote }}
  backupOwnerReference: {{ .Values.cnpg.scheduledBackup.backupOwnerReference | quote }}
  cluster:
    name: {{ .Values.cnpg.cluster.name | quote }}
  immediate: {{ .Values.cnpg.scheduledBackup.immediate }}
{{- end }}

