{{- $s3 := .Values.backup.barmanObjectStore.s3Credentials -}}
{{- if and .Values.enabled .Values.backup.enabled ($s3.create) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-cnpg-s3-creds" .Release.Name | trunc 63 | trimSuffix "-" | quote }}
type: Opaque
stringData:
  {{ default "S3_ACCESS_KEY" $s3.accessKeyKey }}: {{ required "accessKeyValue required when create=true" $s3.accessKeyValue | quote }}
  {{ default "S3_SECRET_KEY" $s3.secretKeyKey }}: {{ required "secretKeyValue required when create=true" $s3.secretKeyValue | quote }}
{{- end }}
