{{- if and .Values.cnpg.enabled .Values.cnpg.backup.enabled .Values.cnpg.backup.barmanObjectStore.s3Credentials.create }}
{{- $s3 := .Values.cnpg.backup.barmanObjectStore.s3Credentials -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $s3.secretName | quote }}
type: Opaque
stringData:
  {{ default "S3_ACCESS_KEY" $s3.accessKeyKey }}: {{ required "cnpg.backup.barmanObjectStore.s3Credentials.accessKeyValue is required when create=true" $s3.accessKeyValue | quote }}
  {{ default "S3_SECRET_KEY" $s3.secretKeyKey }}: {{ required "cnpg.backup.barmanObjectStore.s3Credentials.secretKeyValue is required when create=true" $s3.secretKeyValue | quote }}
{{- end }}
